* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app-cold {
  background-image: url('./assets/cold-bg.png');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
  width: 100%;
  height: auto;
}

.app-warm {
  background-image: url('./assets/warm-bg.png');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
  width: 100%;
  height: auto;
}

.app-und{
  background-image: url('./assets/bg1.jpg');
  background-size: cover;
  background-position: top;
  transition: 0.4 ease;
  width: 100%;
  height: auto;
}


main {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0.445));
  padding: 50px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  padding: 20px;
  width: 100%;
  background-color:  #ffffffb9;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.722);
  box-shadow: 0px 5px rgba(0, 0, 0, 0.26);
  color: #000000;
  font-size: 24px;
  transition: 0.8s ease;
}

.search-box .search-bar:focus{
  background-color:  #ffffff;
}

.location-box .location{
  color: #FFF;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}


.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  position: relative;
  display: block;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 70px;
  padding: 10px 20px;
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}